################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rag.Console/bin/Debug/net10.0
/Rag.Console/obj
